*

body {
	background: url("../images/thumb-1920-376475.jpg") no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
}



#mapBox {
	height: 600px;
	margin-top: 75px;
}

#eventsBox {
	height: 550px;
}

.dropdown-button {
	margin: 10px 10px 10px 10px;
}

#contentRow {
	padding-top: 10px;
}